body {
background: White;
text-align: center;
}
#main {
width:1000px; 
height: 600px;
background: White;
margin: 25px auto; 
padding: 10px;
}

h1{
text-align: center;
font-family: "Arial";
font: 24 pt;
color: Black;
}
hr{
color: #ff3819
}

p{
font-family: "Arial"
font-size: 12pt;
text-align: left;
text-indent: 48px;
color: #2f2d2d;
}

.topnav {
  background-color: white;
  overflow: hidden;
}

.topnav a {
  float: center;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.topnav a.active {
  background-color:white;
  color: black;
}